* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


#menu li ul{
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

#menu li:hover ul, .menu li.over ul{display:block;}

#menu li ul li{
    position: relative;
    display:block; 
    width:150px;
    }

header nav ul li a:hover {
    color: #f1c40f;
}

.hero {
    background-image: url(ceo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero .btn {
    background-color: #f1c40f;
    color: #333;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #e67e22;
}

.about, .services, .contact {
    padding: 50px 20px;
    text-align: center;
}

.about h2, .services h2, .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.team {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.services .service {
    margin-bottom: 30px;
}

.services .service h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.services .service p {
    font-size: 1.2rem;
    color: #555;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact form label {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact form button:hover {
    background-color: #34495e;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

#linkar {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
